<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="index.css">
</head>

<div class="wrapper">
    <div class="left">
        <img src="https://thispersondoesnotexist.com/" alt="user" width="100">
        <h4>NAJ</h4>
         <p>ft_transcendence</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>naj@42.student.fr</p>
                 </div>
                 <div class="data">
                   <h4>PONG stats</h4>
                    <p>420% victory</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Parties jouees</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>5002</p>
                 </div>
                 <div class="data">
                   <h4>Friends</h4>
                    <p>42</p>
              </div>
            </div>
        </div>
      
    </div>
</div>
</html>

