<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css">
  </head>
	<body>
		<!-- Component ProfileWrapper -->
		<div class="wrapper">
			<!-- LeftSide -->
			<div class="left">
				<!-- <img src="https://thispersondoesnotexist.com/" alt="user" width="100"> -->
				<img src="https://pbs.twimg.com/profile_images/956695054126665728/0zl_Ejq2_400x400.jpg" alt="user" width="100">
				<h4>ehickey</h4>
				<p>Statut: playing... 🏓</p>
				<p></p>
				<button>ADD AS FRIEND</button>
			</div>
			<!-- RightSide -->
			<div class="right">
				<!-- Info -->
				<div class="info">
					<h3>Information</h3>
					<div class="info_data">
						<!-- grid from mui each one as 6 as value -->
						<div class="data">
							<h4>Fist Name</h4>
							<p>Earl</p>
						</div>
						<!-- grid from mui each one as 6 as value -->
						<div class="data">
							<h4>Last Name</h4>
							<p>Hickey</p>
						</div>
					</div>
				</div>
				<!-- Stats -->
				<div class="projects">
					<h3>Parties jouees</h3>
					<div class="projects_data">
						<!-- grid from mui each one as 6 as value -->
						<div class="data">
							<h4>Victory</h4>
							<p>5002</p>
						</div>
						<!-- grid from mui each one as 6 as value -->
						<div class="data">
							<h4>Participate</h4>
							<p>5042</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html> 
<!-- 
<Grid container>
	<Grid item xs={6}>
		<div>
			<Wrapper />
			<Avatar alt="Earl Hickey" src="https://pbs.twimg.com/profile_images/956695054126665728/0zl_Ejq2_400x400.jpg" />
			<Typography variant="h3" component="h4">	
				INFORMATIONS
			</Typography>
			<p></p>
			<Typography variant="h4" component="p">
				lastname: 
			</Typography>
			<Typography variant="h4" component="p">
				firstname: 
			</Typography>
		</div>
	</Grid>
	<Grid item xs={6}>
		<Typography variant="h4" component="p">
			firstname: 
		</Typography>
	</Grid>
</Grid> -->
