\033[42m                                                                                                                                                       \033[0m
\033[42m \033[0m\033[5m ::::::::::: :::::::::      :::     ::::    :::  ::::::::   ::::::::  :::::::::: ::::    ::: :::::::::      :::     ::::    :::  ::::::::  ::::::::::\033[42m \033[0m
\033[42m \033[0m\033[5m     :+:     :+:    :+:   :+: :+:   :+:+:   :+: :+:    :+: :+:    :+: :+:        :+:+:   :+: :+:    :+:   :+: :+:   :+:+:   :+: :+:    :+: :+:       \033[42m \033[0m
\033[42m \033[0m\033[5m     +:+     +:+    +:+  +:+   +:+  :+:+:+  +:+ +:+        +:+        +:+        :+:+:+  +:+ +:+    +:+  +:+   +:+  :+:+:+  +:+ +:+        +:+       \033[42m \033[0m
\033[42m \033[0m\033[5m     +#+     +#++:++#:  +#++:++#++: +#+ +:+ +#+ +#++:++#++ +#+        +#++:++#   +#+ +:+ +#+ +#+    +:+ +#++:++#++: +#+ +:+ +#+ +#+        +#++:++#  \033[42m \033[0m
\033[42m \033[0m\033[5m     +#+     +#+    +#+ +#+     +#+ +#+  +#+#+#        +#+ +#+        +#+        +#+  +#+#+# +#+    +#+ +#+     +#+ +#+  +#+#+# +#+        +#+       \033[42m \033[0m
\033[42m \033[0m\033[5m     #+#     #+#    #+# #+#     #+# #+#   #+#+# #+#    #+# #+#    #+# #+#        #+#   #+#+# #+#    #+# #+#     #+# #+#   #+#+# #+#    #+# #+#       \033[42m \033[0m
\033[42m \033[0m\033[5m     ###     ###    ### ###     ### ###    ####  ########   ########  ########## ###    #### #########  ###     ### ###    ####  ########  ##########\033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the configuration for the twillio account                                                    \033[42m \033[0m
\033[42m \033[0m * TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXX                                                                                                      \033[42m \033[0m
\033[42m \033[0m * TWILIO_VERIFY_SERVICE_SID=XXXXXXXXXXXXXXXXXXXXXX                                                                                                  \033[42m \033[0m
\033[42m \033[0m * MY_NUMBER=+33622123456                                                                                                                            \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the secret of intra 42                                                                       \033[42m \033[0m
\033[42m \033[0m * FT_SECRET=s-s4t2ud-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                                                                                               \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This the id of intra 42                                                                              \033[42m \033[0m
\033[42m \033[0m * FT_UID=u-s4t2ud-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX                                                                                                \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the configuration for the database                                                           \033[42m \033[0m
\033[42m \033[0m * POSTGRES_DB=db_postgres                                                                                                                           \033[42m \033[0m
\033[42m \033[0m * POSTGRES_USER=user_postgres                                                                                                                       \033[42m \033[0m
\033[42m \033[0m * POSTGRES_PASSWORD=password_postgres                                                                                                               \033[42m \033[0m
\033[42m \033[0m * DATABASE_URL="postgresql://user_postgres:password_postgres@172.19.0.42:5432/db_postgres?schema=public"                                            \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the configuration of the transcendance backend                                               \033[42m \033[0m
\033[42m \033[0m * HOST_LOCATION="localhost"                                                                                                                         \033[42m \033[0m
\033[42m \033[0m * HOST_PORT="3000"                                                                                                                                  \033[42m \033[0m
\033[42m \033[0m * HOST_PROTOCOL="http"                                                                                                                              \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the configuration of the transcendance frontend                                              \033[42m \033[0m
\033[42m \033[0m * REDIRECT_PROTOCOL="http"                                                                                                                          \033[42m \033[0m
\033[42m \033[0m * REDIRECT_DOMAIN="localhost"                                                                                                                       \033[42m \033[0m
\033[42m \033[0m * REDIRECT_PORT="3001"                                                                                                                              \033[42m \033[0m
\033[42m \033[0m\033[90;42m                                                This is the configuration for the call of the OAuth                                                  \033[42m \033[0m
\033[42m \033[0m * FT_DOMAIN="api.intra.42.fr"                                                                                                                       \033[42m \033[0m
\033[42m \033[0m * FT_PROTOCOL="https"                                                                                                                               \033[42m \033[0m
\033[42m \033[0m * FT_ROUTE="/oauth/authorize"                                                                                                                       \033[42m \033[0m
\033[42m                                                                                                                                                       \033[0m
